<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_blog.css')}}"/>
</head>

<body>
    <div id="main">
        <div id="page1">
            <div id="nav">
                <h2><i>THE LATEST UPDATES AND BLOGS IN AYURVEDA!!</i></h2>
                <img src="static/images/agniv.png" style="width: 200px; height: 150px;"
                    alt="">
                <i class="ri-menu-3-line"></i>
            </div>
            <div id="elems">
                <div id="elem1">
                    <div id="image-div">
                        <img src="static/images/hehe.webp"
                            alt="">
                    </div>
                    <h4>THE AYURVEDIC EXPERIENCE <span>NEW</span></h4>
                    <p>Ayurveda, rooted in ancient wisdom, acknowledges the presence of five primary elements -air,land,water,agni...</p>
                </div>
                <div id="elem1">
                    <div id="image-div">
                        <img src="static/images/JJKJ.webp"
                            alt="">
                    </div>
                    <h4>
                        "AYURVEDA OFFERS REMEDIES FOR EYE HEALTH." <span>NEW</span></h4>
                    <p>Triphala Eye Wash,

                        Netra Tarpana,
                        
                        Bhringraj Eye Drops,
                        
                        Amla (Indian Gooseberry),
                        
                        Almond and Fennel...</p>
                </div>
                <div id="elem3">
                    <div id="image-div">
                        <img src="static/images/sune-1632119368375.webp"
                            alt="">
                    </div>
                    <h4> SIGNIFICANCE OF SUN IN AYURVEDA<span>NEW</span></h4>
                    <p>In Ayurveda, the sun, or "Surya," holds significant importance for both physical and mental well-being ,it is the Source of Light and Life,Mental and Emotional...</p>
                </div>

            </div>
            <h1>AGNI</h1>
        </div>
        <div id="page2">
            <div id="page2-left">
                <h2>AYURVEDA <span>EDA!!</span></h2>
                <img src="static/images/new 1.jpg" alt="">
                <p>Call to boost up the ayurvedic research in INDIA!!</p>
            </div>
            <div id="page2-right">
                <img src="static/images/new2.png" alt="">
                <h1>LATEST RESEARCH</h1>
            </div>
        </div>
        <div id="page3">
           <h2>🌟 All India Institute of Ayurveda, under Ministry of AYUSH, Govt. of India,<br> is celebrating National Ayurveda Day 2022 with Theme Har Din Har Ghar<br> Ayurveda. ..<b>---------------></b>

           </h2>
           <br><br><br><br>
           <h2>
            🌟  Vasant Lad's books include Ayurveda, The Science of Self-Healing and <br>Secrets of the Pulse and co-author of The Yoga of Herbs and Ayurvedic<br> Cooking for Self-Healing. His work from Harmony Books, The Complete <br>Book of Ayurvedic Home Remedies, is a compendium of classic Ayurvedic<br> treatments for common and chronic ailments.</h2>
            <img src="static/images/HGTHGA.jpeg" alt="" style="width: 500px;" height="9000px">
        </div>
        <div id="page4">
            <div id="page4-left">
                <img src="static/images/new 4.jpg" alt="" style="height: 800px;" width="500px">
            </div>
            <div id="page4-right">
                <p>.                                                                                                                                         LAll India Institute of Ayurveda, under Ministry of AYUSH, Govt. of India, is celebrating National Ayurveda Day 2022 with Theme Har Din Har Ghar Ayurveda. ..</p>
                <div id="anda">
                    <img src="https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/61001a3509319b6ae39e156b_arrow-long.svg" alt="">
                    <h1>MORE NEWS</h1>
                </div>
            </div>
        </div>
        <div id="page5">
            
            <h1>CREATE YOUR OWN BLOG <span>AGNIVEDA</span></h1>

        </div>
        <div id="page6">

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
        integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='script_blog.js')}}"></script>

</body>

</html>